* {
  margin: 0;
  padding: 0;
  /* background: #8f5151; */
}
/* #cheak {
  height: 60%;
  width: 100vw;
  padding: 20px 45px;
  background: #ec1818;
  display: flex;
} */
/* #one,
#two {
  font-size: 25px;
  font-weight: 406;
  color: rgb(0, 12, 12);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 12px;
}
#one {
  border-right: 1px solid rgb(100, 92, 92);
}  */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand .left {
  font-size: 22px;
  font-weight: 655;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(19, 19, 20);
  display: flex;
  margin-left: 12px;
}
.main {
  /* justify-content: center; */
  /* align-items: center; */
  background: rgb(49, 45, 45);
  /* border: 2px; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  height: 370px;
  /* background: #6ae951; */
  /* color: rgb(83, 83, 92); */
  width: 310px;
  overflow: hidden;
  border-radius: 12px;
  margin-top: 10vh;
  /* margin-right: 95px; */
  margin-bottom: 12px;
}
.card img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.card div {
  color: #6ae951;
  font-size: 18px;
}
